.googleImg {
    margin: auto; 
    height: 92px;
    text-align: center;
    padding-top: 110px;
    position: relative; 
}

.searchEng {
    text-align: center;
    position: relative;
    margin: 28px;
    border: transparent
}

.searchBar {
    width: 540px;
    height:44px;
    margin: auto; 
    border: 1px solid rgba(190, 186, 186, 0.856);
    border-radius: 26px;
    text-align: left;
    position: relative; 
    background-color: transparent;
    font-family: arial,sans-serif;
    font-size: 16px;
    
    
}
.searchBar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}  

.buttons {
    text-align: center;
    position: relative;
    margin: auto;
    background-color: transparent;
}

.googleSearch {
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #f2f2f2;
    margin: 10px;
    background-color: #f2f2f2;;
    color:#5F6368;
    border-style: solid;
    border-radius: 2px;
    border-color:white ;
    

}
.googleSearch:hover {
    color: rgb(43, 43, 43);
    border-color: rgba(65, 65, 65, 0.363);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}  

.luckySearch{
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #f2f2f2;
    margin: 10px;
    background-color: #f2f2f2;;
    color:#5F6368;
    border-style: solid;
    border-radius: 2px;
    border-color:white ;
    
}
.luckySearch:hover{
    color: rgb(43, 43, 43);
    border-color: rgba(65, 65, 65, 0.363);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

footer {
    font-family: arial,sans-serif;
    color:#767c83;
    margin-top: 89px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    font-size: 14px;
}

.footer1 {
    width: auto;
    height: 40px;
    padding-left: 27px;
    
   
}

.footer2 {
    width: auto;
    height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    

}


.footer2Elements {
    padding-left: 27px;
    color: #767c83;
    text-decoration: none;

}

.footer2Elements2 {
    padding-right: 27px;
    color: #767c83;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    vertical-align: middle;
    text-align: right;
    align-items: center;
}

.headElement {
    padding-left: 12px ;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
}

 .iconImg {
     width: 25px;
     height: 25px;
 }

 .avatar {
     border-radius: 50%;
     margin-right: 17px;
 }
